/*
fuente de imagenes
https://imgur.com/a/TNFafo7
*/
:root {
    --main-background-color: #1b262c;
    --article-background: #bbe1fa;
    --workitem-background: #3282b8;;
    --hero-background: #0f4c75;
}

* {
    padding: 0px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?w0f40r');
    src:  url('../fonts/icomoon.eot?w0f40r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?w0f40r') format('truetype'),
      url('../fonts/icomoon.woff?w0f40r') format('woff'),
      url('../fonts/icomoon.svg?w0f40r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  

h1,h2,h3,h4,h5,h6 {
    font-family: 'Julius Sans One', sans-serif;    
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;    
    margin: 0;
    background-color: var (--main-background-color);
}

a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: var(--article-background);
    font-weight: normal;
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background-color);
    height: 128px;
}

header nav {
    height: inherit;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 200px;
    height: inherit;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

header li a {
    margin: 5px;
}

header figure {
    margin: 0px ;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure img {
    border-radius: 50px;
    margin-left: 24px;
}

.about {
    background-color: var(--hero-background);
    color:  var(--article-background); 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 138px);
}

.about h1 {
    font-size: 45px;
}

.about p {
    font-size: 30px;
    margin-bottom: 0px;
}

.tech-container{
    justify-content: center;
    
    display: grid;
    grid-template: repeat(2, 100px) / repeat(4, 200px);
    grid-gap: 5px;
    background-color: var(--hero-background);
    margin: 0px;
    margin-top: 50px;
    padding: 0px;

    height: calc(100vh - 138px);
}

.tech-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255,255,255 );
    border-radius: 10px;
}

.tech-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work .work-item {
    background-color: var(--workitem-background);
    margin: 1%;
    max-width: 480px;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}

.work-item-imageContainer {
    margin: 0px;
    padding: 0px;
}

.work .work-item img {
    width: 480px;
    height: 250px;
    object-fit: cover;
}

.work-details {
    border-radius: 3px;
    margin: 20px 40px;   
    margin-top: -20px;   
    background-color: var(--article-background);
    position: relative;
    padding: 15px;
    height: 200px;
}

.work-item-place {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
}

.work-item-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}


.container {
    width: 100%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

footer {
    text-align: center;
    color: lightgray;
}


.flexible-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: blue;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.contact {
    background-color: var(--main-background-color);
    color: var(--hero-background);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact a {
    margin-left: 20px ;
}

.social {
    margin-right: 7px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--article-background);
    border-radius: 30%;
    line-height: 50px;
    text-align: center;
}




/*Desktop first*/
/* ----------------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {


}



/* ----------------------------------------------------------------------------- */
/* Ipad orientacion portrail   */
/* ----------------------------------------------------------------------------- */
@media screen and (max-width:768px) and (orientation: portrait){
   
    header {
        height: 135px;
    }

    .about {
        height: calc(100vh - 180px);
    }

    .about h1 {
        font-size: 40px;
        margin:10px
    }

    .about p {
        margin: 5px;
        margin-bottom: 20px;
    }

    .tech-container{
        grid-template:  repeat(4, 150px) / repeat(2, 300px);
               
    }
        
    .work .work-item {
        background-color: var(--workitem-background);
        margin: 2%;
        width: 98%;
        max-width: 90vw;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    }
    

    .work .work-item img {
        width: 100%;
        height: 45vh;
        object-fit: cover;
    }
    
    .work-details {
        border-radius: 3px;
        margin: 15px;   
        margin-top: -20px;   
        background-color: var(--article-background);
        position: relative;
        padding: 10px;
        height: 200px;
    }
 
    .work .work-item-title {
        font-size: 2em;
        margin: 5px 0px ;
    }

    .work-item-place {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 1.5em;
        margin: 5px 0px;
    }
    
    .work-item-description {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3em;
    }

    .contact {
        justify-content: space-around;
    }
    
    

}
/* ----------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {

    header {
        height: 100px;
    }

    .about {
        height: calc(100vh - 200px);
    }

    .about h1 {
        font-size: 35px;
        margin:5px
    }

    .about p {
        margin: 5px;
        margin-bottom: 10px;

    }

    .tech-container{
        justify-content: center;
        display: grid;
        grid-template:  repeat(4, 75px) / repeat(2, 150px) ;
        grid-gap: 5px;
        background-color: var(--hero-background);
        margin: 0px ;
        padding: 0px ;
        height: calc(100vh - 138px);
    }
    
    
    .tech-item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(255,255,255 );
        border-radius: 10px;
    }
    
    .tech-item figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    .work .work-item {
        background-color: var(--workitem-background);
        margin: 2%;
        max-width: 480px;
        width: 96%;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    }
    
    .work-item-imageContainer {
        width: 480px;
        height: 250px;
        margin: 0px;
        padding: 0px;
    }
    
    .work .work-item img {
        width: 480px;
        height: 250px;
        object-fit: cover;
    }
    
    .work-details {
        border-radius: 3px;
        margin: 15px;   
        margin-top: -20px;   
        background-color: var(--article-background);
        position: relative;
        padding: 10px;
        height: 200px;
    }
 
    .work .work-item-title {
        font-size: 2em;
        margin: 5px 0px ;
    }

    .work-item-place {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 1.5em;
        margin: 5px 0px;
    }
    
    .work-item-description {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1em;
    }



    .contact {
        background-color: var(--main-background-color);
        color: var(--hero-background);
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact a {
        margin: 10px ;
    }
    
    .social {
        margin: 10px 0px;
    }

    .social-link {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 1px solid var(--article-background);
        border-radius: 30%;
        line-height: 50px;
        text-align: center;
    }
    

}

@media screen and (max-width: 320px) {


}