* {
    /* margin: 0px; */
    padding: 0px;
    /* box-sizing: border-box; */

}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?w0f40r');
    src:  url('../fonts/icomoon.eot?w0f40r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?w0f40r') format('truetype'),
      url('../fonts/icomoon.woff?w0f40r') format('woff'),
      url('../fonts/icomoon.svg?w0f40r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  

h1,h2,h3,h4,h5,h6 {
    font-family: 'Julius Sans One', sans-serif;    
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;    
    margin: 0;
    background-color: #396362;
}

a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #f6c89f;
    font-weight: normal;
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #396362;
    height: 128px;
}

header nav {
    height: inherit;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 200px;
    height: inherit;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

header li a {
    margin: 5px;
}

header figure {
    margin: 0px ;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure img {
    border-radius: 50px;
    margin-left: 24px;
}

.about {
    background-color: #f6c89f;
    color: #396362;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 320px;
    
}

.about h1 {
    font-size: 45px;
}

.about p {
    font-size: 30px;
}

.work {
    background-color: #396362;
    display: flex;
    flex-wrap: wrap;
}

.work .work-item {
    background-color: #4b8e8d;
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}

.work-item-imageContainer {
    margin: 0px;
    padding: 0px;
}

.work .work-item img {
    
    width: 480px;
    height: 250px;
    object-fit: cover;
}

.work-details {
    border-radius: 3px;
    margin: 20px 40px;   
    margin-top: -20px;   
    background-color: #f6c89f;
    position: relative;
    padding: 15px;
    height: 200px;
}

.work-item-place {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
}

.work-item-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}


.contact {
    background-color: #396362;
    color: #ffe7d1;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact a {
    margin-left: 20px ;
}

.social {

    margin-right: 7px;
}

.social-link {
    
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #f6c89f;
    border-radius: 30%;
    line-height: 50px;
    text-align: center;
    
}

.container {
    
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

footer {
    text-align: center;
    color: lightgray;
}


.flexible-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: blue;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

