* {
    /* margin: 0px; */
    padding: 0px;
    box-sizing: border-box;

}
/*



*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Julius Sans One', sans-serif;    
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;    
    margin: 0;
    background-color: #396362;
}

a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #f6c89f;
    font-weight: normal;
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #396362;
    height: 128px;
}

header nav {
    height: inherit;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 200px;
    height: inherit;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

header li a {
    margin: 5px;
}

header figure {
    margin: 0px ;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure img {
    border-radius: 50px;
    margin-left: 24px;
}

.about {
    background-color: #f6c89f;
    color: #396362;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 320px;
    
}

.about h1 {
    font-size: 45px;
}

.about p {
    font-size: 30px;
}

.work {
    background-color: #396362;
    display: flex;
    flex-wrap: wrap;
}

.work .work-item {
    background-color: #4b8e8d;
    border: 1px solid #4b8e8d;
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}

.work-item-imageContainer {
    margin: 0px;
    padding: 0px;
}

.work .work-item img {
    
    width: 480px;
    height: 250px;
    object-fit: cover;
}

.work-details {
    border-radius: 3px;
    margin: 20px 40px;   
    margin-top: -20px;   
    background-color: #f6c89f;
    position: relative;
    padding: 15px;
    height: 200px;
}

.work-item-place {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
}

.work-item-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}


.contact {
    background-color: #396362;
    color: #ffe7d1;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact a {
    margin-left: 20px ;
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;   
}

.social-link.twitter {
    background-image: url('https://jesustorrano.github.io/imagenes/gorjeo.svg');
}

.social-link.facebook {
    background-image: url('https://jesustorrano.github.io/imagenes/facebook.svg');
}

.social-link.instagram {
    background-image: url('https://jesustorrano.github.io/imagenes/instagram.svg');
}

.social-link.linkedin {
    background-image: url('https://jesustorrano.github.io/imagenes/linkedin.svg');
}

.container {
    
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}